// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pi{
  margin-top:1%;
}
.photo{
  margin-top: 1%;
}
.account{
  margin-top: 8%;
}
.actions{
  margin-top: 2%;
}
.file{
  margin-left:34%;
}
.idea{
  text-align: center;
}
.back{
  text-align: right;
}
